.container.d-flex.flex-column.justify-content-center.align-items-center.my-5.pt-5
  %h2 ログイン
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field.mt-1.mb-2
      = f.label :メールアドレス
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", size: 50
    .field.mb-3
      = f.label :パスワード
      %br/
      = f.password_field :password, autocomplete: "current-password", size: 50
    - if devise_mapping.rememberable?
      .field.d-flex.justify-content-center.mb-2
        = f.check_box :remember_me
        = f.label :remember_me
    .actions.mb-5.d-flex.justify-content-center
      = f.submit "　ログイン　"
  -# = render "devise/shared/links"
= render partial: "posts/footer"
