%main
  .album.py-5.bg-light
    .container
      .row.d-flex.justify-content-center
        - @posts.each do |post|
          .col-md-4.col-lg-3.mb-5
            .card.mb-4.shadow-sm
              = image_tag post.image.url, width: '100%', height: "280", alt: "画像"
              .card-body
                %h5.card-title
                  = post.user.nickname
                %p.card-text
                  = post.text
              .card-footer
                = link_to '編集', edit_post_path(post.id), method: :get
                = link_to '削除', post_path(post.id), method: :delete

= paginate @kaminari
