= form_with model: post, html: {class: "novalidate"}, local: true do |form|
  .image-file.mb-5.mt-4
    = form.file_field :image, class: "form-control-file", required: "", type: "file", id: "exampleFormControlFile1"
  .form-group.pb-3
    = form.label :'本文記入欄', for: "Textarea"
    = form.text_area :text, id: "Textarea", class: 'form-control', placeholder: "こちらに内容を記載してください", required: "", rows: "2"
    .invalid-feedback 本文を記載してください
  .form-group.d-flex.justify-content-center.pb-4
    = form.submit "送　信", class: 'border-0 px-5 py-2 bg-warning rounded'
