.bd-example
  #carouselExampleCaptions.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleCaptions"}
      %li{"data-slide-to" => "1", "data-target" => "#carouselExampleCaptions"}
    .carousel-inner{:role => "listbox"}
      .carousel-item.active
        = image_tag "p7811.jpg", alt: "First slide", class: "img-fluid"
        .carousel-caption.d-none.d-md-block
          %h3.text-secondary Choose your favorite
          %p.text-secondary I'm sure you'll find special clothes just for you
      .carousel-item
        = image_tag "p5213.jpg", alt: "Second slide", class: "img-fluid"
        .carousel-caption.d-none.d-md-block
          %h3.text-secondary Choose a gift for your partner
          %p.text-secondary You will surely find the perfect clothes for your partner
    %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleCaptions", :role => "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleCaptions", :role => "button"}
      %span.carousel-control-next-icon{"aria-hidden" => "true"}
      %span.sr-only Next

ここは新しくメッセージを入れる

%main{:role => "main"}
  .album.py-5.bg-light
    .container
      .row.d-flex.justify-content-center
        - @posts.each do |post|
          .col-md-4.col-lg-3.mb-5
            .card.mb-4.shadow-sm
              = image_tag post.image.url, whdth: '100%', height: "280", alt: "画像"
              .card-body
                %h5.card-title 
                  = post.user.nickname 
                %p.card-text 
                  = post.text
              .card-footer
                ハッシュタグ

= paginate @kaminari

%footer.bg-light.mt-5
  .container
    .row.d-flex.justify-content-center
      %h3.font-weight-bold
        %a.text-secondary{:href => "/"} Comfy
      .w-100
      %p.text-secondary Created and maintained by kuriken.
