!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = favicon_link_tag('favicon.ico')
    %title ルームウェア - Comfy
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'


  %body.pt-5
    %header
      .d-flex.justify-content-between.flex-md-row.align-items-center.p-3.px-xl-5.px-md-4.bg-white.border-bottom.fixed-top
        %h2.font-weight-bold.pl-5.ml-2
          %a.text-dark.text-decoration-none{:href => "/"} Comfy
        %nav.my-2.my-md-0.mr-md-3.pr-5.mr-4
          - if user_signed_in?
            .grid-6
              %ul.nav.nav-tabs
                %li.nav-item.dropdown
                  %a.nav-link.dropdown-toggle.text-dark.font-weight-bold{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    = current_user.nickname
                  .dropdown-menu
                    = link_to "マイページ", "/users/#{current_user.id}", class: 'dropdown-item post'
                    = link_to "ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}, class: 'dropdown-item post'
                %li.nav-item.font-weight-bold.ml-5.pb-0
                  = link_to "投稿する", new_post_path, class: 'btn btn-outline-dark font-weight-bold'
          - else
            .grid-6
              = link_to "ログイン", new_user_session_path, class: 'btn btn-outline-dark mr-4'
              = link_to "新規登録", new_user_registration_path, class: 'btn btn-outline-dark mr-4'
    = yield
